body {
  background-color: aqua;
}
h1 {
  text-align: left;
}
ul {
  list-style: none;
}
.contianer {
  background-color: #3b5868;
  color: white;
}
button {
  position: relative;
  display: block;
  margin: o auto;
  left: 40%;
}
.date {
  font-size: small;
}
